/*Header Style*/
/*
Colors
bleu : #323C50
gris : #E9E9E9
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100%;
}
/*Banner design*/
.header {
    padding: 60px;
    text-align: center;
    background: #323C50;
    color: white;
}
.header {
    color: white;
    font-size: 45px;
    font-weight: 900;
}
.header button{
    margin: 1%;
    background-color: #000000;
    border:  2px solid #000000;
    color: #FFFFFF;
    border-radius: 12px;
}
.header button:hover{
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #000000;
}

/*Card Style*/
.card{
    text-align: center;
}
.card .card-header {
    background-color: #E9E9E9;
}
.card .card-content .content p span{
    text-align: center;
    font-size: 15px;
    padding: 2%;
}

.card-footer{
    padding-left: 30px;
    padding-right: 30px;
}
.card-footer button {
    margin: 1% auto;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
}
.card-footer .card-footer-item:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body-container {
    flex: 1;
}

/*Foot Style*/
.footer-container {
    padding: 40px;
    text-align: center;
    background: #323C50;
    color: white;
    font-size: 25px;
}
.footer-container a{
    text-decoration: none;
    color: white;
}




/*Index.jsp design*/
#index_section{
    width: 100%;
}
#index_section .header {
    padding: 0;
    height: 100vh;
    background:
            url(../images/library_backGround.jpg)    /* image */
            center / cover /* position / size */
            no-repeat                /* repeat */
            fixed                    /* attachment */
            padding-box              /* origin */
            content-box              /* clip */
            ;

    text-align: center;

    margin: 0 auto;
}
.header .header-title {
    padding-top: 150px;
}
.header .header-btn {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 12px;
    cursor: pointer;
    font-size: 30px;
    padding: 6px;
    margin-bottom: 150px;
}
.header .header-btn:hover {
    background-color: #FFFFFF;
    color: #000000;
}
