/*Page container*/
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Bordered form */
form {
    width: 500px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}